__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.idea/
*.csv
/Frontend/.env
/Backend/.env
/Backend/__pycache__/
/Backend/precomputed/
/Frontend/node_modules/
/Frontend/build/
.DS_Store
*.log
.pytest_cache/
.coverage
*.egg-info/
.git

